{% extends "base_view.html" %}

{% block title %} meliza-lab : inventory {% endblock %}

{% block content %}

<p>This web application allows you to interact with the inventory database. There are two kinds of records you need to know about. Items describe specific pieces of equipment, supplies, or services. The item record contains information about the vendor, manufacturer, and other details of the item. Orders describe, well, orders we place for those items.</p>

<ul>
  <li><a href="{% url 'inventory:orders' %}">list orders</a></li>
  <li><a href="{% url 'admin:inventory_item_changelist' %}">list or edit items</a></li>
  <li><a href="{% url 'admin:inventory_order_changelist' %}">list or edit orders</a></li>
</ul>

<p>To order something, you create an order and assign items to it. When an item is assigned to an order, you enter per-order information like price and quantity. If an item doesn't exist, you'll need to create it and then add it to the order. </p>

<ul>
  <li><a href="{% url 'admin:inventory_order_add' %}">create a new order</a></li>
  <li><a href="{% url 'admin:inventory_item_add' %}">add a new item</a></li>
</ul>

{% endblock %}
