{% extends "base_view.html" %}
{% load widget_tweaks %}

{% block title %} University Laboratory Checkout System : Orders {% endblock %}

{% block content %}
<h2>Orders</h2>

<form class="form-horizontal" method="get" role="form">
  <div class="form-group">
    {% for field in filter.form %}
    <div class="col-sm-2">
      {% render_field field placeholder=field.label class+="form-control" %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

<table class="table table-striped table-condensed">
  <thead>
    <th>Name</th>
    <th>Placed on</th>
    <th>Items</th>
    <th>Items Received</th>    
    <th>Requested by</ht>
    <th>Account(s)</th>
  </thead>
  <tbody>
    {% for order in order_list %}
        <tr>
          <td><a href="{{ order.get_absolute_url }}">{{ order.name }}</a> {% if order.placed_on %}<span class="badge badge-success">Placed</span>{% else %}<span class="badge badge-warning">In Progress</span>{% endif %}</td>
	  <td>{{ order.placed_on|default_if_none:"—" }}</td>
          <td>{{ order.item_count }}</td>
          <td>{{ order.item_received_count }}</td>
	  <td>{{ order.requested_by.get_full_name }}</td>
          <td>{{ order.account_codes }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="6">No orders found. Try adjusting filters or <a href="{% url 'inventory:new_order' %}">create a new order</a>.</td></tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<p><a class="btn btn-primary" href="{% url 'inventory:new_order' %}">Create New Order</a></p>

{% endblock %}

