{% extends "base_view.html" %}
{% load widget_tweaks %}

{% block title %} University Laboratory Checkout System : New Order {% endblock %}

{% block content %}


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new order</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'inventory:new_order' %}" class="form-horizontal" method="post" role="form">
      {% csrf_token %}
      <p><strong>Instructions</strong>: This form is used to create a new order.
      Leave the account field blank if you are not sure what it should be. After
      the order is created, you can add items to it.</p>

      {% if form.non_field_errors %}
      <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}

      {% for field in form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{field.auto_id}}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
          {% if field.field.widget.input_type == 'checkbox' %}
            {# Handle multiple checkboxes #}
            {% if field.field.choices %}
              <div>
		{% for choice in field %}
		<div class="checkbox">
		  <label>
		    {{ choice.tag }} {{ choice.choice_label }}
		  </label>
		</div>
		{% endfor %}
              </div>
            {% else %}
              {# Single checkbox #}
              <div class="checkbox">
                {% render_field field %}
              </div>
            {% endif %}
          {% else %}
            {# Regular form control #}
            {% render_field field class+="form-control" %}
          {% endif %}
          {% if field.help_text %}
            <p class="help-block">{{ field.help_text }}</p>
          {% endif %}
          {% if field.errors %}
            <span class="help-block">{{ field.errors }}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Create Order</button>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}
