{% extends "base_view.html" %}
{% load widget_tweaks %}

{% block title %} meliza-lab : orders {% endblock %}

{% block content %}
<h2>Orders</h2>

<form class="form-horizontal" method="get" role="form">
  <div class="form-group">
    {% for field in filter.form %}
    <div class="col-sm-2">
      {% render_field field placeholder=field.label class+="form-control" %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </div>
</form>

{% include "inventory/order_table.html" %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ query.urlencode }}&amp;page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            | <a href="?{{ query.urlencode }}&amp;page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<p><a href="{% url 'inventory:new_order' %}">add new order</a></p>

{% endblock %}

